// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  padding: 5px;
  width: 70%;
}

tbody tr:nth-child(odd) {
  background-color: #87CEFA;
}

form {
  padding: 20px;
}

.fancymessage {
  padding-left: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
}
